# IDE files
.idea/
.vscode/
.DS_Store

# Spring Boot related files
about-me/.gradle/
about-me/build/
about-me/out/
about-me/bin/

# Node.js related files
frontend/node_modules/
frontend/.next/

# Exclude sensitive files (비밀 정보 파일)
about-me/src/main/resources/application-local.properties
frontend/.env.local
frontend/.env


frontend/package-lock.json
frontend/package.json
package-lock.json
package.json