.footer {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    z-index: 10;
    position:sticky;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}